@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}
li {
  padding: 0px 15px;
  font-family: "Work Sans", sans-serif;
}
.links {
  color: inherit;
  text-decoration: none;
}
/* buttons style */
.btn__home1,
.btn__home2,
.button__about,
.help {
  border: none;
  padding: 12px 30px;
  border-radius: 22px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.btn__home1,
.button__about,
.help {
  background-color: black;
  color: aliceblue;
}
.btn__home2 {
  font-weight: 600;
}
.membership_Plans:hover {
  box-shadow: rgba(223, 30, 30, 0.05) 0px 0px 0px 1px;
  border: 2px solid rgb(0, 0, 0);
}
td,
th {
  padding: 12px 0px;
}
th {
  font-weight: 500;
}

.btn__home1:hover{
  background-color: #fff;
  color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn__home2:hover{
  background-color: #000000;
  color:#fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.help__center{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 18px;
  border: 1px solid #fff;
  margin: 24px 0px;
  padding: 12px 30px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: #fff;
  background: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.help__center:hover{
background-color: #fff;
color: #000;
}
.subscribe{
  border: 1px solid #fff;
    padding: 10px 20px; /* default padding */
    font-family: Raleway, sans-serif;
    font-size: 12px;
    color: #fff;
    background: #000;
    border-radius: 18px;
    margin-left: 10px;
    cursor: pointer;
}
@media (max-width: 768px) {
  .element {
      padding: 2px 14px; 
  }
}
.subscribe:hover{
  background-color: #fff;
color: #000;
}

.social_links{
  cursor: pointer;
  text-decoration: none; 
  color: #fff;
}